*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding: 0 10px;
  background-color: #fff8ee;
}

header {
  display: flex;
  align-items: center;
  min-height: 7vh;
  padding: 10px 0;
}

.logo {
  width: 80vw;
  text-align: center;
  font-size: 1.7rem;
  font-family: 'Merienda', cursive;
}

.logo a,
.weather-div h2 {
  color: #c25b05;
}

.main-nav {
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-image: url("../img/list.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-nav ul {
  position: absolute;
  margin-top: 7vh;
  height: 93vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 100vw;
  top: 0;
  overflow-x: hidden;
  transition: left 200ms;
  background-color: #fff;
  padding-top: 20px;
}

.main-nav .nav-appear {
  left: 0;
}

.main-nav li {
  margin: 10px auto;
  padding: 20px 40px;
}

.info-div li {
  margin: 10px auto;
}

.city-search-form label li {
  padding: 20px 30px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  border-bottom: 2px solid rgb(211, 211, 211);
}

.main-nav li:hover {
  background-color: rgba(0, 0, 0, 0.062);
}

main {
  min-height: 85vh;
  padding-top: 20px;
  max-width: 80%;
  margin: auto;
}

.city-search-form {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  transition: max-height 0.55s ease-out;
  overflow-y: hidden;
}

.city-search-form.shrink {
  max-height: 70px;
  transition: max-height 0.55s ease-in;
}

.city-search-form.shrink textarea {
  padding-bottom: 0;
}

.city-search-form input,
.city-search-input {
  width: 100%;
  padding: 10px 20px;
}

.city-search-input {
  word-wrap: break-word;
  word-break: break-all;
}

.city-search-form input[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > div {
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid #3498db;
  width: auto;
  height: 100%;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.weather-div {
  text-align: center;
}

.weather-div h2 {
  margin: 25px auto;
}

.weather-depict {
  height: 200px;
  width: 200px;
  background-color: #3498db;
  margin: 25px auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
  min-height: 1vh;
}
