*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding: 0 10px;
}

header {
  display: flex;
  align-items: center;
  min-height: 7vh;
  padding: 10px 0;
}

.logo {
  width: 80vw;
  text-align: center;
  font-size: 1.7rem;
}

.main-nav {
  height: 35px;
  width: 35px;
  cursor: pointer;
  background-image: url("../img/list.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-nav ul {
  position: absolute;
  margin-top: 7vh;
  height: 93vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 100vw;
  top: 0;
  overflow-x: hidden;
  transition: left 200ms;
  background-color: #fff;
  padding-top: 20px;
}

.main-nav .nav-appear {
  left: 0;
}

.main-nav li {
  margin: 10px auto;
  padding: 20px 40px;
}

.city-search-form label li {
  padding: 20px 30px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  border-bottom: 2px solid rgb(211, 211, 211);
}

.main-nav li:hover {
  background-color: rgba(0, 0, 0, 0.062);
}

main {
  min-height: 85vh;
  padding-top: 20px;
}

.city-search-form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
}

.city-search-form input,
.city-search-input {
  width: 100%;
  padding: 10px 20px;
}

.city-search-input {
  word-wrap: break-word;
  word-break: break-all;
}

.city-search-form input[type="submit"] {
  margin-top: 20px;
}

.loader {
  position: relative;
  z-index: -20;
}

.loader::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid #3498db;
  width: auto;
  height: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
  min-height: 1vh;
}
